body {
  background-color: #000000;
  background-image: url("assets/christmasBgnd01.png");
  font-size: 100%;
  font-family: "Open-Sans", sans-serif;
  color: white !important;
  margin: 0rem;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: grey;
  text-decoration: strong;
}
a:hover {
  color: lightgray;
}
a:active {
  color: lightgray;
}
.container {
  background: #420000;
  width: 80%;
  box-sizing: border-box;
  min-height: 600px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 20px;
  padding: 5px;
  padding-top: 30px;
  overflow-y: hidden;
  box-shadow: 0px 0px 5px 1px #000000;
}
